.box{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #Faa;
    align-items: center;
    display:flex;
    margin: auto;
    word-break: break-all;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0 6px;
}
.box:hover{
    color:black;
    background-color: #ccc;
}
.box_9{ background-color: #ffa39e;}
.box_10{background-color: #ff85c0;}
.box_11{background-color: #ffa940;}
.box_12{background-color: #b37feb;}

.box_13{background-color: #ffc53d;}
.box_14{background-color: #ff7a45;}
.box_15{background-color: #d3f261;}
.box_16{background-color: #85a5ff;}

.box_17{background-color: #5cdbd3;}
.box_18{background-color: #ffec3d;}
.box_19{background-color: #69c0ff;}
.box_20{background-color: #95de64;}


.Name{
    height: 80px;
    background-color: #afa;
    outline: 1px solid black;
    align-items: center;
    display:flex;
}
.line-clamp-3{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.time{
    height: 80px;
    background-color: #fff;
    outline: 1px solid black;
    position: relative;
}
.outline-0{
    outline: none !important;
    border: none !important;
}

